@page "/editgame"

<PageTitle>New Game</PageTitle>
<h3>New Game</h3>

@if (_genres is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@_game" FormName="editGame" OnSubmit="HandleSubmit">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="_game.Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre:</label>
                    <InputSelect id="genre" @bind-Value="_game.GenreId" class="form-select">
                        <option value="">Select a genre</option>
                        @foreach (var item in _genres)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="_game.Price" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="releaseDate" class="form-label">ReleaseDate:</label>
                    <InputDate id="releaseDate" @bind-Value="_game.ReleaseDate" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>
    </div>
}

@code {
    private Genre[]? _genres;
    private GenresClient _genresClient = new();
    private GamesClient _gamesClient = new();

    [SupplyParameterFromForm]
    private GameDetails _game { get; set; } = new()
    {
        Name = string.Empty,
        ReleaseDate = DateTime.UtcNow
    };

    protected override void OnInitialized()
    {
        _genres = _genresClient.GetGenres();
    }

    private void HandleSubmit()
    {
        _gamesClient.AddGame(_game);
    }
}